body {
    background-color: #121212; /* Fondo oscuro */
    color: #e1e1e1; /* Texto claro para contraste */
    font-family: 'Arial', sans-serif;
}

/* Barra de navegación */
.navbar {
    background-color: #1f1f1f;
}
.navbar a {
    color: #ffffff !important;
}

/* Encabezado */
.header {
    text-align: center;
    padding: 100px 0;
    background-color: #333;
    color: #e63946;
}
.header h1 {
    font-size: 3rem;
    font-weight: bold;
}
.header p {
    font-size: 1.2rem;
    color: #aaa;
}

/* Sección de contenido */
.content {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    color: #e63946;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.content p {
    color: #bbb;
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Equipo */
.team-member {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.team-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.team-member h3 {
    color: #e63946;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.team-member p {
    color: #bbb;
    font-size: 1rem;
    line-height: 1.6;
}

/* Footer */
.footer {
    background-color: #1f1f1f;
    color: #e1e1e1;
    padding: 40px 0;
    text-align: center;
}
.footer a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
}

/* Botón de contacto */
.btn-dark {
    background-color: #e63946;
    border-color: #e63946;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 20px;
}
.btn-dark:hover {
    background-color: #d62c1a;
    border-color: #d62c1a;
}

/* Responsivo */
@media (max-width: 768px) {
    .header h1 {
        font-size: 2.5rem;
    }
    .content h2 {
        font-size: 2rem;
    }
    .team-member img {
        max-width: 150px;
    }
}
.dropdown-menu {
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
}

.dropdown-item {
    color: red;
    font-size: 15px;
    padding: 8px 16px;
}

.dropdown-item:hover {
    background-color: #dc3545;
    color: #fff;
}

/* PC Info Button */
.btn-pc-info {
    background-color: #ff6347;
    color: white;
    border: none;
}

.btn-pc-info:hover {
    background-color: black;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000; 
    min-width: 180px; 
    z-index: 1000;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar .dropdown-item {
    padding: 10px 15px;
}

.navbar .dropdown-item:hover {
    background-color: #c82333; 
}
